---
import Layout from '@layouts/Layout.astro';
import HeaderGeneric from '@components/HeaderGeneric.astro';
---

<Layout>
  <HeaderGeneric title="Legal Notice" />

  <main>
    <section>
      <div class="richtext">
        <h2>Provider</h2>
        <p>
          Jan Kohlbach<br />
          Kantstraße 6<br />
          76137 Karlsruhe
        </p>
        <p>
          Represented by:<br />
          Jan Kohlbach
        </p>
        <h3>Contact us</h3>
        <p>
          E-mail:
          <a
            href="mailto:legal.rws@jankohlbach.com"
            target="_self"
            rel="noopener noreferrer"
          >
            legal.rws@jankohlbach.com
          </a><br />
          Phone:
          <a href="tel:+4917643675791" target="_self" rel="noopener noreferrer">
            +49 176 43675791
          </a>
        </p>
        <h3>Sales tax ID</h3>
        <p>DE339535130</p>
        <h3>Person responsible for content according to § 18 Abs. 2 MStV</h3>
        <p>
          Jan Kohlbach<br />
          Kantstraße 6<br />
          76137 Karlsruhe
        </p>
        <h3>Information on audiovisual media services</h3>
        <p>
          Country of domicile: Germany<br />
          Regulatory and supervisory authority: Landesanstalt für Kommunikation Baden-Württemberg
          (LFK)
        </p>
        <h3>Disclaimer</h3>
        <p>
          We are responsible for the content of our website in accordance with
          the provisions of general law. All content is created with due care
          and to the best of our knowledge. Insofar as we refer to third-party
          websites on our Internet pages by means of hyperlinks, we cannot
          assume any liability for the continued topicality, correctness and
          completeness of the linked content, as this content is outside our
          area of responsibility and we have no influence on its future design.
          Should you consider any content to be in breach of applicable law or
          inappropriate, please let us know.
        </p>
        <p>
          The legal information on this page as well as all questions and
          disputes in connection with the design of this website are subject to
          the laws of the Federal Republic of Germany.
        </p>
        <h3>Data protection notice</h3><p>
          You can find our Privacy Policy <a href="/privacy">here</a>.
        </p>
        <h3>Copyright notice</h3>
        <p>
          The texts, images, photos, videos or graphics available on our website
          are generally subject to copyright protection. Any unauthorized use
          (especially copying, editing or distribution) of this
          copyright-protected content is therefore prohibited. If you intend to
          use this content or parts thereof, please contact us in advance using
          the details above. If we are not the owner of the required copyrighted
          rights of use ourselves, we will endeavor to arrange contact with the
          entitled party.
        </p>
        <h3>Social media profiles</h3>
        <p>
          Created with the kind support of <a
            href="https://www.dieter-datenschutz.de/"
            target="_blank"
            rel="noopener noreferrer">Dieter does data protection</a
          >
        </p>
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  .richtext {
    max-width: min(to-rem(960), 90%);
  }
</style>
