@use 'functions' as *;

:root {
  // spacings
  --s-m: #{clamp-fluid(25, 50)};
  --s-l: #{clamp-fluid(50, 100)};

  // grid
  --fluid-min: 375;
  --fluid-max: 1720;
  --container-max-width: #{to-rem(1920)};
  --grid-margin: #{to-rem(20)};
  --grid-gutter: #{clamp-fluid(10, 60)};
  --grid-max-width: calc(var(--container-max-width) - var(--grid-margin) * 2);
  --grid-columns: 12;

  // fonts
  --ff-primary: 'Erstling', 'Helvetica', 'Arial', sans-serif;

  // font-sizes
  --fs-tiny: #{clamp-fluid(14, 16)};
  --fs-base: #{clamp-fluid(16, 18)};
  --fs-1: #{clamp-fluid(40, 56)};
  --fs-2: #{clamp-fluid(24, 28)};
  --fs-3: #{clamp-fluid(18, 20)};
  --fs-4: #{clamp-fluid(16, 18)};
  --fs-5: #{clamp-fluid(16, 18)};
  --fs-6: #{clamp-fluid(16, 18)};

  // font-weights
  --fw-thin: 100;
  --fw-hairline: var(--fw-thin);
  --fw-xlight: 200;
  --fw-ultralight: var(--fw-xlight);
  --fw-light: 300;
  --fw-normal: 400;
  --fw-regular: var(--fw-normal);
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-demibold: var(--fw-semibold);
  --fw-bold: 700;
  --fw-xbold: 800;
  --fw-ultrabold: var(--fw-xbold);
  --fw-black: 900;
  --fw-heavy: var(--fw-black);
  --fw-xblack: 950;
  --fw-ultrablack: var(--fw-xblack);

  // colors
  --c-light: #eeeeee;
  --c-dark: #151515;
  --c-background: #232a2a;
  --c-accent: #21EBB9;

  // animations
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
  --ease-in-out-custom: cubic-bezier(0.4, 0, 0.2, 1);

  // z-index
  --zi-canvas: 5000;
  --zi-cursor: 10000;
  --zi-page-transition: 50000
}
