<script>
  import type { PlaneParams } from 'curtainsjs';

  import { Curtains, Plane } from 'curtainsjs';

  import { lenis } from '../scripts/scroll';
  import baseVertexShader from '../shader/vertex.glsl';
  import baseFragmentShader from '../shader/fragment.glsl';

  const shaderFiles = import.meta.glob(['../shader/**/*.glsl'], {
    eager: true,
  });

  const findShaderFiles = (shader: string) => {
    return {
      vertex: (
        shaderFiles[`../shader/${shader}/vertex.glsl`] as {
          default: string | undefined;
        }
      )?.default,
      fragment: (
        shaderFiles[`../shader/${shader}/fragment.glsl`] as {
          default: string | undefined;
        }
      )?.default,
    };
  };

  window.addEventListener('load', () => {
    const planes = [];

    const curtains = new Curtains({
      container: document.querySelector('[data-js="canvas"]') || undefined,
      pixelRatio: Math.min(2, window.devicePixelRatio),
      watchScroll: false,
    });

    curtains
      .onError(() => {
        document.body.classList.add('no-curtains');
      })
      .onContextLost(() => {
        curtains.restoreContext();
      });

    const planeElements = document.querySelectorAll('[data-canvas]');

    const params: PlaneParams = {
      vertexShader: baseVertexShader,
      fragmentShader: baseFragmentShader,
      widthSegments: 100,
      heightSegments: 100,
      transparent: true,
      uniforms: {
        time: {
          name: 'uTime',
          type: '1f',
          value: 0.0,
        },
      },
    };

    planeElements.forEach((planeElement) => {
      const shader = planeElement.getAttribute('data-shader');

      if (shader) {
        const foundShaderFiles = findShaderFiles(shader);

        if (
          foundShaderFiles &&
          foundShaderFiles.vertex &&
          foundShaderFiles.fragment
        ) {
          params.vertexShader = foundShaderFiles.vertex;
          params.fragmentShader = foundShaderFiles.fragment;
        } else {
          params.vertexShader = baseVertexShader;
          params.fragmentShader = baseFragmentShader;
        }
      }

      const plane = new Plane(curtains, planeElement, params);
      planes.push(plane);

      plane.onRender(() => {
        plane.uniforms.time.value = (plane.uniforms.time.value as number) + 1;
      });
    });

    lenis.on('scroll', () => {
      curtains.updateScrollValues(window.scrollX, window.scrollY);
    });
  });
</script>

<div class="canvas" data-js="canvas"></div>

<style lang="scss">
  .canvas {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: var(--zi-canvas);
    pointer-events: none;
  }
</style>
