---
import type { CollectionEntry } from 'astro:content';

interface Props {
  effect: CollectionEntry<'effects'>;
}

const { effect } = Astro.props;
---

<div class="image" data-canvas>
  <img src={effect.data.image} crossorigin="" />
</div>

<style lang="scss">
  img {
    aspect-ratio: 1 / 1;
  }
</style>
