<footer>
  <div class="container">
    <p>
      made by
      <a href="https://jankohlbach.com" target="_blank">
        https://jankohlbach.com
      </a>
    </p>
  </div>
</footer>

<style lang="scss">
  footer {
    padding-block: to-rem(20);
  }

  .container {
    display: flex;
    justify-content: center;
  }
</style>
