---
const { title } = Astro.props;
---

<header>
  <a href="/">{'<- back'}</a>
  <h1>{title}</h1>
</header>

<style lang="scss">
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: to-rem(36);
    padding-bottom: var(--s-m);
    margin-bottom: var(--s-m);
    border-bottom: 1px solid var(--c-light);

    a {
      text-decoration: none;
    }
  }
</style>
